.container{
    max-width: 30rem;
    width: fit-content;
    text-align: center;
    overflow: hidden;
}

.image {
    width: 100%;
    align-self: stretch;
    border-radius: .25rem;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: .75rem 1rem;
}

.title {
    width: fit-content;
    color: var(--dark-color-text-primary);
    text-align: center;
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--Cor-Primaria, #FF8906);
}

.description{
    width: fit-content;
}

.tags{
    display: flex;
    gap: .5rem;
}