@keyframes slideInDown{
    0% {
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0)
    }
}


.menu {
    animation: 1s ease-out 0s 1 slideInDown;
    display: flex;
    padding: 1.25rem 12.5rem;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

.link{
    color: var(--dark-color-text-primary);
    text-decoration: none;
}

.links{
    display: flex;
    gap: 1rem;
}

.links i{
    font-size: 2rem;
}

.links a{
    color: #fff;
    text-decoration: none;
}

.links i:hover{
    -webkit-box-shadow: 4px 4px 22px 4px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 4px 4px 22px 4px rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 22px 4px rgba(255, 255, 255, 0.3);

    transition: all 0.2s ease-out;
}