@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --color-primary: #FF8906;
    --color-secundary: #102432;
    --dark-color-text-primary: #FFFFFE;
    --dark-color-background: #0F0E17;

    --font-body: 'Inter', sans-serif;
    --font-title: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark-color-background);
    font-family: var(--font-body);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-color-text-primary);
    box-sizing: border-box;
}