.tag {
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--color-primary);
    color: var(--dark-color-text-primary);
    font-size: 0.75rem;
    font-weight: 700;
}